<div class="card mt-3">
  <div class="card-header">
    <h4>Learn more</h4>
  </div>
  <div class="card-body">
    <p>
      If you are interested in the topic and want to find out the algorithms standing behind it,
      feel free to visit the project on <a href="https://github.com/wojtek-przytarski/interpolations">GitHub <i class="fa fa-github"></i></a>
    </p>
    <h5>Useful links:</h5>
    <ul class="pl-4">
      <li><a href="https://en.wikipedia.org/wiki/Linear_interpolation">Linear interpolation on Wikipedia</a></li>
    </ul>
  </div>
</div>
