<div class="card">
  <div class="card-header">
    <h4>Parameters</h4>
  </div>
  <div class="card-body">
    <app-integer-input (value)="a = $event; updatePlotArgs()" [initialValue]="a" [maxValue]="b" [label]="'From'"></app-integer-input>
    <app-integer-input (value)="b = $event; updatePlotArgs()" [initialValue]="b" [minValue]="a" [label]="'To'"></app-integer-input>
    <app-integer-input (value)="n = $event; updatePlotArgs()" [initialValue]="n" [minValue]="0" [label]="'Degree'"></app-integer-input>

    <div class="alert alert-danger" *ngIf="errorMessage">{{ errorMessage }}</div>

    <div class="row">
      <h5>Examples:</h5>
      <ul class="examples">
        <li (click)="setExampleData('sin(x) * x ** 2', -1, 1, 5)" mathjax>$$f(x) = x^2 * sin(x), [-1, 1], n = 5 $$</li>
        <li (click)="setExampleData('sin(x) * x ** 2', -1, 1, 15)" mathjax>$$f(x) = x^2 * sin(x), [-1, 1], n = 15$$</li>
        <li (click)="setExampleData('abs(x)', -1, 1, 5)" mathjax>$$f(x) = {{'{|x|}'}}, [-1, 1], n = 5$$</li>
        <li (click)="setExampleData('abs(x)', -1, 1, 7)" mathjax>$$f(x) = {{'{|x|}'}}, [-1, 1], n = 7$$</li>
        <li (click)="setExampleData('1 \/ \(1 + x ** 2\)', -5, 5, 7)" mathjax>$$f(x) = {{'\\frac{1}{1 + x^2}'}}, [-5, 5], n = 7$$</li>
      </ul>
    </div>
  </div>
</div>
