<div class="card">
  <div class="card-header">
    <h4>Parameters</h4>
  </div>
  <div class="card-body">
    <app-integer-input (value)="a = $event; updatePlotArgs()" [initialValue]="a" [maxValue]="b" [label]="'From'"></app-integer-input>
    <app-integer-input (value)="b = $event; updatePlotArgs()" [initialValue]="b" [minValue]="a" [label]="'To'"></app-integer-input>
    <app-integer-input (value)="n = $event; updatePlotArgs()" [initialValue]="n" [minValue]="0" [label]="'Degree'"></app-integer-input>

    <div class="alert alert-danger" *ngIf="errorMessage">{{ errorMessage }}</div>

    <div class="row mt-3 m-1">
      <h5>Examples:</h5>
      <ul class="list-group list-group-flush w-100">
        <li class="list-group-item list-group-item-action p-0" (click)="setExampleData('sin(x) * x ** 2', -1, 1, 5)" mathjax>$$f(x) = x^2 * sin(x), [-1, 1], n = 5 $$</li>
        <li class="list-group-item list-group-item-action p-0" (click)="setExampleData('sin(x) * x ** 2', -1, 1, 15)" mathjax>$$f(x) = x^2 * sin(x), [-1, 1], n = 15$$</li>
        <li class="list-group-item list-group-item-action p-0" (click)="setExampleData('sin(x) * x ** 2', -100, 100, 30)" mathjax>$$f(x) = x^2 * sin(x), [-100, 100], n = 30$$</li>
        <li class="list-group-item list-group-item-action p-0" (click)="setExampleData('abs(x)', -1, 1, 5)" mathjax>$$f(x) = {{'{|x|}'}}, [-1, 1], n = 5$$</li>
        <li class="list-group-item list-group-item-action p-0" (click)="setExampleData('abs(x)', -1, 1, 7)" mathjax>$$f(x) = {{'{|x|}'}}, [-1, 1], n = 7$$</li>
      </ul>
    </div>
  </div>
</div>
